.divLabel{
	background:#b9e0ff;
	color:#363A3D;
	text-align:left;
	font-weight:bold;
	margin-left:10px;
	line-height:25px;
	}

.disabled {
   color: darkgrey;
   background-color: grey;
}

.butt_elimina{
	font-size: 12px;
	width:20px;
	padding:2px;
	text-align: center;
	color:blue;
	cursor:hand;
}
