#divAttesa
{
	position:absolute;
}
body > div#divAttesa
{
	position:fixed;
}

div#divAttesa
{
	left:expression(((ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft)) + 'px');
	top:expression(((ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px');
}

#divRichiesta
{
	position:absolute;
}
body > div#divRichiesta
{
	position:fixed;
}

div#divRichiesta
{
	left:expression(((ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft + ((document.body.offsetWidth / 2) - 170): document.body.scrollLeft + ((document.body.offsetWidth / 2) - 170))) + 'px');
	top:expression(((ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop + ((document.body.offsetHeight / 2) - 100): document.body.scrollTop + ((document.body.offsetHeight / 2) - 100))) + 'px');
}

.clsDivBlackOpacity
{
	filter:alpha(opacity=74);
	position:absolute;
	width:100%;
	height:expression(document.body.offsetHeight + 'px' );
	top:0;
	left:0;
	background-color:black;
	display:none;
	z-index:10;
}

.clsDivAttesaRegistra
{
	filter:alpha(opacity=100);
	position:absolute;
	width:200px;
	height:80px;
	left:expression(((document.body.offsetWidth / 2) - 100) + 'px' );
	top:expression(((document.body.offsetHeight / 2) - 50) + 'px' );
	background-color:white;
	vertical-align:middle;
	border:ridge;
	border-color:#999999;
	z-index:11;
}

.clsImgAttesaRegistra
{
	position:absolute;
	width:160px;
	left:16px;
	top:expression((document.all['divRegistraAttesa'].offsetHeight - 30) + 'px' );
}

.clsSpanAttesaRegistra
{
	font-style:oblique;
	font-weight: bold;
	font-size:16px;
	text-align:center;
	text-shadow:#00CCFF;
	position:absolute;
	width:160px;
	left:16px;
	top:10px;
}

.clsdivRichiestaPassword
{
	position:absolute;
	width:340px;
	height:2000px;
	/*left:expression(((document.body.offsetWidth / 2) - 170) + 'px' );
	top:expression(((document.body.offsetHeight / 2) - 100) + 'px' );*/
	vertical-align:middle;
	z-index:11;
}