span.classBarBT
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	border-top: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	padding-left: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align:right;
	background-image:url(../../imagexPix/bar/MenuImg.jpg);
	height:29px;
	width:100%;
}