@charset "utf-8";
/* CSS Document */

.infoInLine{
	display:block;
	background-color:#09C;
	color:white;
	font-weight:bold;
	font-size:16px;
	text-align:center;	
	height:25px;
	line-height:25px; 	
}

.infoInLineSubTitle{
	display:block;
	background-color:#03F;	
	color:white;
	font-weight:bold;
	font-size:16px;
	text-align:center;	
}

.infoBarra{
	float:left; 
	display:block; 
	line-height:25px; 
	margin-left:10px;
	font-size:14px;
	color:white;
	font-weight:bold;
	text-align:center;
}

/* ****************************************** */
/* ********* Tabella tooltip *********** */
/* ****************************************** */


TR.tooltip_rigaDispari{
	background-color:#B7D9FB;
}

TR.tooltip_rigaPari{
	background-color:#F4FEFF;
}


TR.tooltip_rigaSelezionata{
	background-color:yellow;
}

TR.tooltip_rigaOver{
	background-color:#FDFFD7;
}


TR.tooltip_rigaTestata{
	background-color:#4BE7F3;	
	color:black;
	font-weight:bold;
	font-size:14px;
	text-align:center;		
}

TD.tooltip_colonna{
	padding-left:5px;
}

