/* css per la tabella di dati, come ad esempio la worklist */

table.Titolo {
	table-layout:fixed;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#FFFFFF;
	background-color:#036;
	border-collapse : collapse;
	width:100%;
	overflow:hidden;
}

/* ****** */