/*body#refertazione {	background: #BBBBBB; padding: 2px;}*/
table.campi tr td.tdTextarea textarea { height: 50px;}
div.showHide, span.spanCons{display: none;	margin: 5px 5px;}
/*button.butInvia{ display: none; }*/
div.clsWk div.clsTR26 table tr{	cursor: pointer;}
div.showHide label{ margin: 5px 10px; }
.trIntestazione th{ border-left: 1px solid #555; background-color: graytext; color:#fff; }
#divContainer, #butCerca{ margin: 5px 10px; }
#divHeader{ margin: 10px 10px; }
#div2{ width: 30%; display: inline-block; }
#div3{ width: 60%; display: inline-block; }
#colWkSel { width: 75%; }
#divWk { width: 95%; margin: 5px 5px;}
#colProfiliMulti { width: 25%; }
#colWkRichieste, #colWkSelezionati{ width: 49%; }
/*#colAltriDati { width: 100%; }*/
#cmbRichSel{ height: 160px;  width: 100%; }
#cmbPrestNoCdc{ height: 160px;  width: 100%; }
#idPrestazioniDsa {height: 300px;}
/*#cmbRepartoCons{ border: 1px solid #555555; height: 24px; line-height: 24px; margin: 5px 10px; }
#lblPrefGenerali{ font-weight: 700; height: 24px; padding: 1px 5px 0px; }
#txtFiltroText{ background: #FFFFFF; border: 1px solid #555555; height: 24px; line-height: 24px; padding: 0px 5px; width: 30%; }*/