body {
    width: 960px;
    margin: auto;
}

#fldElencoLOG { border: none; }

#cmbOraInizio, #cmbOraFine {
	width: auto;
}

#lblOraInizio, #lblOraFine {
	width: 25px;
}

.active {
	background: url(../../../../img/active.png) no-repeat !important;
}

.deactivate {
	background: url(../../../../img/deactivate.png) no-repeat !important;
}

#butSelezionaTutti, #butDeselezionaTutti {
	float: right;
}