<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>OneSys</display-name>
	<distributable />
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>monitoring</web-resource-name>
            <url-pattern>/monitoring</url-pattern>
        </web-resource-collection>
		<web-resource-collection>
			<web-resource-name>Statistics</web-resource-name>
			<url-pattern>/PoolStatistics</url-pattern>
		</web-resource-collection>
        <web-resource-collection>
            <web-resource-name>JCSAdmin</web-resource-name>
            <url-pattern>/JCSAdmin.jsp</url-pattern>
        </web-resource-collection>
		<auth-constraint>
			<role-name>manager</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Tomcat Manager Application</realm-name>
	</login-config>
	<security-role>
		<description>Richiesto per accedere alle statistiche delle connessioni</description>
		<role-name>manager</role-name>
	</security-role>
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>

	<!-- ************************************************** Parametri di contesto ************************************************** -->

	<context-param>
		<param-name>TITLE</param-name>
		<param-value>UniSys</param-value>
	</context-param>
	<context-param>
		<param-name>TABELLA_CONFIGURAZIONE</param-name>
		<param-value>GES_CONFIG_PAGE</param-value>
	</context-param>
	<context-param>
		<param-name>PoolName</param-name>
		<param-value>elcoPool_oracle_whale</param-value>
	</context-param>
	<context-param>
		<param-name>HOME2012</param-name>
		<param-value>S</param-value>
		<!-- S=nuova home, vuoto o qualsiasi altro valore vecchia home -->
	</context-param>
	<context-param>
		<param-name>TIPODB</param-name>
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>WebUser</param-name>
		<param-value>imagoweb</param-value>
	</context-param>
	<context-param>
		<param-name>WebPwd</param-name>
		<param-value>password</param-value>
	</context-param>
	<context-param>
		<param-name>DataUser</param-name>
		<param-value>radsql</param-value>
	</context-param>
	<context-param>
		<param-name>DataPwd</param-name>
		<param-value>password</param-value>
	</context-param>
	<context-param>
		<param-name>CryptType</param-name>
		<param-value>imago.crypto.PlainPassword</param-value>
	</context-param>
	<context-param>
		<!-- DEPRECATO. Usa url_whaleMods in context.xml. -->
		<param-name>baseUrlImagoxHttp</param-name>
		<param-value>http://localhost:8081/whale/</param-value>
	</context-param>
	<context-param>
		<param-name>RegistryUser</param-name>
		<param-value>xdsregistry</param-value>
	</context-param>
	<context-param>
		<param-name>RegistryPwd</param-name>
		<param-value>167145142162141144060063</param-value>
	</context-param>
	<context-param>
		<param-name>RegistryPoolName</param-name>
		<param-value>registryPool_oracle_whale</param-value>
	</context-param>
	<context-param>
		<param-name>ABILITA_CACHE</param-name>
		<param-value>N</param-value>
	</context-param>

	<!-- ************************************************** Servlet "speciali" ************************************************** -->

	<servlet>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>imago.sql.Log4jConfigLoader</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Global</servlet-name>
		<servlet-class>core.Global</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>pollAndCometEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>scriptSessionCheckTime</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<!-- ************************************************** Listener ************************************************** -->

	<listener>
		<listener-class>imago.sql.ElcoContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>imago.http.classSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>generatoreEngine.listener.loadGeneratoreEngineContext</listener-class>
	</listener>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
    <listener>
        <listener-class>core.listener.ElcoSessionListener</listener-class>
    </listener>	

	<!-- ************************************************** Filtri ************************************************** -->

	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ClientCacheFilter</filter-name>
		<filter-class>imago.filters.ClientCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ClientCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>checkAccountFilter</filter-name>
		<filter-class>polarisFilters.checkAccountFilter</filter-class>
		<init-param>
			<param-name>abilitaDoppiaLogin</param-name>
			<param-value>N</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>checkAccountFilter</filter-name>
		<url-pattern>/worklist/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>checkAccountFilter</filter-name>
		<url-pattern>/SL_Manu_Tab_Worklist</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>checkAccountFilter</filter-name>
		<url-pattern>/classAttesa</url-pattern>
	</filter-mapping>
	<filter>
        <filter-name>IECompatibilityFilter</filter-name>
        <filter-class>it.elco.test.IECompatibilityFilter</filter-class>
        <init-param>
            <param-name>X-UA-Compatible</param-name>
            <param-value>IE=EmulateIE7</param-value>
            <!--
                <param-value>IE=5</param-value> Quirks mode
                <param-value>IE=7</param-value> Forza IE7 anche senza doctype
                <param-value>IE=8</param-value> Forza IE8 anche senza doctype
                <param-value>IE=9</param-value> Forza IE9 anche senza doctype
                <param-value>IE=Edge</param-value> Versione corrente
                <param-value>IE=EmulateIE7</param-value> Emula IE7
                <param-value>IE=EmulateIE8</param-value> Emula IE8
                <param-value>IE=EmulateIE9</param-value> Emula IE9
            -->
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>IECompatibilityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<!-- ************************************************** Servlet ************************************************** -->
	
	<servlet>
		<servlet-name>SrvFirmaPdf</servlet-name>
		<servlet-class>FirmaDigitale.SrvFirmaPdf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvFirmaPdf</servlet-name>
		<url-pattern>/SrvFirmaPdf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>elabStampa</servlet-name>
		<servlet-class>stampe.anteprima.elabStampa</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>elabStampa</servlet-name>
		<url-pattern>/elabStampa</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletLL</servlet-name>
		<servlet-class>src.ListeLavoro.ServletLL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLL</servlet-name>
		<url-pattern>/ServletLL</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>autoLogin</servlet-name>
		<servlet-class>login.autoLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>autoLogin</servlet-name>
		<url-pattern>/autoLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletStampe</servlet-name>
		<servlet-class>stampe.crystalclear.ServletStampe</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletStampe</servlet-name>
		<url-pattern>/ServletStampe</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletLLFiltri</servlet-name>
		<servlet-class>src.ListeLavoro.ServletLLFiltri</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLLFiltri</servlet-name>
		<url-pattern>/ServletLLFiltri</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Stampa_Tab_filtri</servlet-name>
		<servlet-class>src.Stampa_Tab.SL_Stampa_Tab_filtri</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Stampa_Tab_filtri</servlet-name>
		<url-pattern>/SL_Stampa_Tab_filtri</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Stampa_Tab</servlet-name>
		<servlet-class>src.Stampa_Tab.SL_Stampa_Tab</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Stampa_Tab</servlet-name>
		<url-pattern>/SL_Stampa_Tab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_ACR</servlet-name>
		<servlet-class>ACR.SL_ACR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_ACR</servlet-name>
		<url-pattern>/SL_ACR</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_ACROCX</servlet-name>
		<servlet-class>ACR.SL_ACROCX</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_ACROCX</servlet-name>
		<url-pattern>/SL_ACROCX</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>XML2DB</servlet-name>
		<servlet-class>ACR.XML2DB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XML2DB</servlet-name>
		<url-pattern>/XML2DB</url-pattern>
	</servlet-mapping>
	<servlet>
		<!-- Serve per la funzione lock workstation -->
		<description>winCheckUser</description>
		<display-name>winCheckUser</display-name>
		<servlet-name>winCheckUser</servlet-name>
		<servlet-class>winPopup.winCheckUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>winCheckUser</servlet-name>
		<url-pattern>/winCheckUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>checkUser</description>
		<display-name>checkUser</display-name>
		<servlet-name>checkUser</servlet-name>
		<servlet-class>winPopup.checkUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkUser</servlet-name>
		<url-pattern>/checkUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>classAttesa</description>
		<display-name>classAttesa</display-name>
		<servlet-name>classAttesa</servlet-name>
		<servlet-class>classAttesa</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>classAttesa</servlet-name>
		<url-pattern>/classAttesa</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_MainFilterManager</servlet-name>
		<servlet-class>worklist.SL_MainFilterManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_MainFilterManager</servlet-name>
		<url-pattern>/SL_MainFilterManager</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_EsenzioniPaziente</servlet-name>
		<servlet-class>imago.GestioneAnagrafica.SL_EsenzioniPaziente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_EsenzioniPaziente</servlet-name>
		<url-pattern>/SL_EsenzioniPaziente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_GestoreSale</servlet-name>
		<servlet-class>worklist.SL_GestoreSale</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_GestoreSale</servlet-name>
		<url-pattern>/SL_GestoreSale</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ParametriRicercaEsa</servlet-name>
		<servlet-class>imago.RicercaEsami.ParametriRicercaEsa</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParametriRicercaEsa</servlet-name>
		<url-pattern>/ParametriRicercaEsa</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>OperazioniTabRiconciliazione</description>
		<display-name>OperazioniTabRiconciliazione</display-name>
		<servlet-name>OperazioniTabRiconciliazione</servlet-name>
		<servlet-class>imago.RicercaPaziente.OperazioniTabRiconciliazione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OperazioniTabRiconciliazione</servlet-name>
		<url-pattern>/OperazioniTabRiconciliazione</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>RiconciliaPazienti</description>
		<display-name>RiconciliaPazienti</display-name>
		<servlet-name>RiconciliaPazienti</servlet-name>
		<servlet-class>imago.RicercaPaziente.RiconciliaPazienti</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RiconciliaPazienti</servlet-name>
		<url-pattern>/RiconciliaPazienti</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>AssociaArtMagaGiacenze</description>
		<display-name>AssociaArtMagaGiacenze</display-name>
		<servlet-name>AssociaArtMagaGiacenze</servlet-name>
		<servlet-class>imago.GesMagazzino.AssociaArtMagaGiacenze</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssociaArtMagaGiacenze</servlet-name>
		<url-pattern>/AssociaArtMagaGiacenze</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>GesMagazzinoFrameset</description>
		<display-name>GesMagazzinoFrameset</display-name>
		<servlet-name>GesMagazzinoFrameset</servlet-name>
		<servlet-class>imago.GesMagazzino.GesMagazzinoFrameset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GesMagazzinoFrameset</servlet-name>
		<url-pattern>/GesMagazzinoFrameset</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>MagazziniUpdate</description>
		<display-name>MagazziniUpdate</display-name>
		<servlet-name>MagazziniUpdate</servlet-name>
		<servlet-class>imago.GesMagazzino.MagazziniUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MagazziniUpdate</servlet-name>
		<url-pattern>/MagazziniUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Ricerca</description>
		<display-name>Ricerca</display-name>
		<servlet-name>Ricerca</servlet-name>
		<servlet-class>imago.GesMagazzino.Ricerca</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ricerca</servlet-name>
		<url-pattern>/Ricerca</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>RisultatiRicerca</description>
		<display-name>RisultatiRicerca</display-name>
		<servlet-name>RisultatiRicerca</servlet-name>
		<servlet-class>imago.GesMagazzino.RisultatiRicerca</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RisultatiRicerca</servlet-name>
		<url-pattern>/RisultatiRicerca</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>MgGiacenze</description>
		<display-name>MgGiacenze</display-name>
		<servlet-name>MgGiacenze</servlet-name>
		<servlet-class>imago.GesMagazzino.MgGiacenze</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MgGiacenze</servlet-name>
		<url-pattern>/MgGiacenze</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_GestioneUtentePwd</servlet-name>
		<servlet-class>gestione_utente_pwd.SL_GestioneUtentePwd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_GestioneUtentePwd</servlet-name>
		<url-pattern>/SL_GestioneUtentePwd</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Duplicazione di un pc con nuovo campo ip e nome_host</description>
		<display-name>DuplicaPC</display-name>
		<servlet-name>DuplicaPC</servlet-name>
		<servlet-class>imago.GesUtilita.gesPC.DuplicaPC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DuplicaPC</servlet-name>
		<url-pattern>/DuplicaPC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_GestOperatori</servlet-name>
		<servlet-class>imago.GestioneOperatori.SL_GestOperatori</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_GestOperatori</servlet-name>
		<url-pattern>/SL_GestOperatori</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Rows_Lock</servlet-name>
		<servlet-class>imago.RowsLock.SL_Rows_Lock</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Rows_Lock</servlet-name>
		<url-pattern>/SL_Rows_Lock</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Manu_Tab_Worklist</servlet-name>
		<servlet-class>imago.ManuTab.SL_Manu_Tab_Worklist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Manu_Tab_Worklist</servlet-name>
		<url-pattern>/SL_Manu_Tab_Worklist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Manu_Tab_Ricerca</servlet-name>
		<servlet-class>imago.ManuTab.SL_Manu_Tab_Ricerca</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Manu_Tab_Ricerca</servlet-name>
		<url-pattern>/SL_Manu_Tab_Ricerca</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Manu_Tab_Frameset</servlet-name>
		<servlet-class>imago.ManuTab.SL_Manu_Tab_Frameset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Manu_Tab_Frameset</servlet-name>
		<url-pattern>/SL_Manu_Tab_Frameset</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Visualizza_Esami_Frameset</servlet-name>
		<servlet-class>imago.RicercaPaziente.SL_Visualizza_Esami_Frameset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Visualizza_Esami_Frameset</servlet-name>
		<url-pattern>/SL_Visualizza_Esami_Frameset</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Gestione_Metodiche</servlet-name>
		<servlet-class>worklist.SL_Gestione_Metodiche</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Gestione_Metodiche</servlet-name>
		<url-pattern>/SL_Gestione_Metodiche</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_GestFiltroCDC</servlet-name>
		<servlet-class>worklist.SL_GestFiltroCDC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_GestFiltroCDC</servlet-name>
		<url-pattern>/SL_GestFiltroCDC</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Group_Info</servlet-name>
		<servlet-class>GestioneGruppi.SL_Group_Info</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Group_Info</servlet-name>
		<url-pattern>/SL_Group_Info</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_GestioneStato</servlet-name>
		<servlet-class>worklist.SL_GestioneStato</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_GestioneStato</servlet-name>
		<url-pattern>/SL_GestioneStato</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>inizioServlet</servlet-name>
		<servlet-class>inizioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inizioServlet</servlet-name>
		<url-pattern>/inizioServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>errorMsg</servlet-name>
		<servlet-class>errorMsg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>errorMsg</servlet-name>
		<url-pattern>/errorMsg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_RefreshFiltri</servlet-name>
		<servlet-class>worklist.SL_RefreshFiltri</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_RefreshFiltri</servlet-name>
		<url-pattern>/SL_RefreshFiltri</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>worklistLoad</servlet-name>
		<servlet-class>generatoreEngine.servlet.worklistLoad</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>worklistLoad</servlet-name>
		<url-pattern>/worklistLoad</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_SceltaFiltroStato</servlet-name>
		<servlet-class>worklist.SL_SceltaFiltroStato</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_SceltaFiltroStato</servlet-name>
		<url-pattern>/SL_SceltaFiltroStato</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>SL_InsPwdCancellazione</description>
		<display-name>SL_InsPwdCancellazione</display-name>
		<servlet-name>SL_InsPwdCancellazione</servlet-name>
		<servlet-class>imago.RicercaPaziente.SL_InsPwdCancellazione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_InsPwdCancellazione</servlet-name>
		<url-pattern>/SL_InsPwdCancellazione</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Default configuration created for servlet.</description>
		<display-name>Servlet blank</display-name>
		<servlet-name>Servlet_blank</servlet-name>
		<servlet-class>blank</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet_blank</servlet-name>
		<url-pattern>/blank</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Servlet per la pagina principale di Imago</description>
		<display-name>classStartImagex</display-name>
		<servlet-name>classStartImagex</servlet-name>
		<servlet-class>classStartImagex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>classStartImagex</servlet-name>
		<url-pattern>/classStartImagex</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>scanDB</description>
		<display-name>scanDB</display-name>
		<servlet-name>scanDB</servlet-name>
		<servlet-class>winPopup.scanDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>scanDB</servlet-name>
		<url-pattern>/scanDB</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>unloadSession</description>
		<display-name>unloadSession</display-name>
		<servlet-name>unloadSession</servlet-name>
		<servlet-class>unloadSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>unloadSession</servlet-name>
		<url-pattern>/unloadSession</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_RicercaPazienteFrameset</servlet-name>
		<servlet-class>configura_ricerca.servlet.ricerca_pazienti.SL_RicercaPazienteFrameset</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_RicercaPazienteFrameset</servlet-name>
		<url-pattern>/SL_RicercaPazienteFrameset</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_RicPazRicerca</servlet-name>
		<servlet-class>configura_ricerca.servlet.ricerca_pazienti.SL_RicPazRicerca</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_RicPazRicerca</servlet-name>
		<url-pattern>/SL_RicPazRicerca</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_RicPazWorklist</servlet-name>
		<servlet-class>configura_ricerca.servlet.ricerca_pazienti.SL_RicPazWorklist</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_RicPazWorklist</servlet-name>
		<url-pattern>/SL_RicPazWorklist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_RicPazRicoverati</servlet-name>
		<servlet-class>configura_ricerca.servlet.ricerca_ricoverati.SL_RicPazRicoverati</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_RicPazRicoverati</servlet-name>
		<url-pattern>/SL_RicPazRicoverati</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SL_Scelta</servlet-name>
		<servlet-class>imago.util.SL_Scelta</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SL_Scelta</servlet-name>
		<url-pattern>/SL_Scelta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PoolStatistics</servlet-name>
		<servlet-class>imago.sql.PoolStatistics</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PoolStatistics</servlet-name>
		<url-pattern>/PoolStatistics</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletGenerator</servlet-name>
		<servlet-class>generatoreEngine.servlet.servletGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletGenerator</servlet-name>
		<url-pattern>/servletGenerator</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletSynthesis</servlet-name>
		<servlet-class>generatoreEngine.servlet.servletSynthesis</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletSynthesis</servlet-name>
		<url-pattern>/servletSynthesis</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>visualizzatoreCartelle</servlet-name>
		<servlet-class>imago_jack.visualizzatoreCartelle.visualizzatoreCartelle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>visualizzatoreCartelle</servlet-name>
		<url-pattern>/visualizzatoreCartelle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletRegisters</servlet-name>
		<servlet-class>generatoreEngine.servlet.servletRegisters</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletRegisters</servlet-name>
		<url-pattern>/servletRegisters</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bolwincheckuser</servlet-name>
		<servlet-class>winPopup.bolWinCheckUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bolwincheckuser</servlet-name>
		<url-pattern>/bolwincheckuser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>frameSetBisogni</servlet-name>
		<servlet-class>cartellaclinica.gestioneBisogni.frameSetBisogni</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>frameSetBisogni</servlet-name>
		<url-pattern>/frameSetBisogni</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mainBisogni</servlet-name>
		<servlet-class>cartellaclinica.gestioneBisogni.mainBisogni</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mainBisogni</servlet-name>
		<url-pattern>/mainBisogni</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>listaAllergieRicovero</servlet-name>
		<servlet-class>cartellaclinica.gestioneAllergie.listaAllergieRicovero</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listaAllergieRicovero</servlet-name>
		<url-pattern>/listaAllergieRicovero</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>saveAllergie</servlet-name>
		<servlet-class>cartellaclinica.gestioneAllergie.saveAllergie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveAllergie</servlet-name>
		<url-pattern>/saveAllergie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bckValues</servlet-name>
		<servlet-class>cartellaclinica.gestioneBckSchede.bckValues</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bckValues</servlet-name>
		<url-pattern>/bckValues</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>generic.servletGeneric</servlet-class>
		<init-param>
			<param-name>class</param-name>
			<param-value>core.HomeEngine</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>avviso</servlet-name>
		<servlet-class>cartellaclinica.gestioneAvvisi.avviso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>avviso</servlet-name>
		<url-pattern>/avviso</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServleTReadPDF</servlet-name>
		<servlet-class>stampe.PDFfromDB.ServleTReadPDF</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServleTReadPDF</servlet-name>
		<url-pattern>/ServleTReadPDF</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servletGeneric</servlet-name>
		<servlet-class>generic.servletGeneric</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servletGeneric</servlet-name>
		<url-pattern>/servletGeneric</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stampe.multi</servlet-name>
		<servlet-class>stampe.multi.ServletStampeMulti</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stampe.multi</servlet-name>
		<url-pattern>/stampe.multi</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>elabStampaMulti</servlet-name>
		<servlet-class>stampe.multi.elabStampaMulti</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>elabStampaMulti</servlet-name>
		<url-pattern>/elabStampaMulti</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>ApriPDFfromDB</display-name>
		<servlet-name>ApriPDFfromDB</servlet-name>
		<servlet-class>stampe.PDFfromDB.ApriPDFfromDB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApriPDFfromDB</servlet-name>
		<url-pattern>/ApriPDFfromDB</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SrvFirmaPdfGenerica</servlet-name>
		<servlet-class>FirmaDigitaleGenerica.SrvFirmaPdfGenerica</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvFirmaPdfGenerica</servlet-name>
		<url-pattern>/SrvFirmaPdfGenerica</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckLogin</servlet-name>
		<servlet-class>core.CheckLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckLogin</servlet-name>
		<url-pattern>/CheckLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>elabStampaUrl</servlet-name>
		<servlet-class>stampe.anteprima.elabStampaUrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>elabStampaUrl</servlet-name>
		<url-pattern>/elabStampaUrl</url-pattern>
	</servlet-mapping>	 	
</web-app>

