@charset "utf-8";
#frameInserimento{
	width:100%;
	/*height:307px;*/
	height:627px;
	/*height:100%;*/
	display:none;
}
#framePianoGiornaliero{
	width:100%;
}
#divFiltri{
	visibility:hidden;
	position:absolute;
	background:#A6EBFF;
	z-index:100;
	left:0px;
	top:0px;
}
#divFiltri table{
	width:50%;
}
#divFiltri tH{
	background:#62C2E8;
}
#divFiltri tD{
	background:#C7F0FE;
}
#buttonFiltri{
	font-size:18px;
	background:	#2F9BF4;
	text-align:center;
	cursor:hand;
}