/*	RADIOBOX	*/
.RBpuls{
    cursor:pointer;
    float:left;
    height:21px;
    line-height:21px;
    margin:1px 2px 1px 0;
    padding:0 10px 0 5px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #d9d9d9));
    background:-moz-linear-gradient(top, #f2f2f2 5%, #d9d9d9 100%);
    background:-webkit-linear-gradient(top, #f2f2f2 5%, #d9d9d9 100%);
    background:-o-linear-gradient(top, #f2f2f2 5%, #d9d9d9 100%);
    background:-ms-linear-gradient(top, #f2f2f2 5%, #d9d9d9 100%);
    background:linear-gradient(to bottom, #f2f2f2 5%, #d9d9d9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d9d9d9',GradientType=0);
    background-color:#d9d9d9;
    border:1px solid #999;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.RBpuls > span{
    text-align:center;
    font-size:12px;
    font-weight:700;
    color:#000;
}
.RBpuls > i{
    margin-top:5px;
    margin-right:10px;
    width:12px;
    height:12px;
    float:left;
    background:url(../img/rcsprite.png) 0px 0px no-repeat;
}
.RBpuls:hover > i{background:url(../img/rcsprite.png) 0px -12px no-repeat;}
.RBpulsSel{background:#999;}
.RBpulsSel > span{color:black;}
.RBpulsSel > i{background:url(../img/rcsprite.png) 0px -24px no-repeat !important;}

.RBdisabled .RBpuls{cursor:default;background:#eee;}
.RBdisabled .RBpuls > span{color:#666;}
.RBdisabled .RBpuls > i{background:url(../img/rcsprite.png) 0px -36px no-repeat;}

.RBdisabled .RBpulsSel{cursor:default;background:#ddd;}
.RBdisabled .RBpulsSel > span{color:#666;}
.RBdisabled .RBpulsSel > i{background:url(../img/rcsprite.png) 0px -48px no-repeat;}



/*	CHECKBOX	*/
.CBpuls{
    cursor:pointer;
    float:left;
    height:22px;
    line-height:22px;
    margin:1px 2px 1px 0;
    padding:0 10px 0 5px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #d9d9d9));
    background:-moz-linear-gradient(top, #f2f2f2 5%, #d9d9d9 100%);
    background:-webkit-linear-gradient(top, #f2f2f2 5%, #d9d9d9 100%);
    background:-o-linear-gradient(top, #f2f2f2 5%, #d9d9d9 100%);
    background:-ms-linear-gradient(top, #f2f2f2 5%, #d9d9d9 100%);
    background:linear-gradient(to bottom, #f2f2f2 5%, #d9d9d9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d9d9d9',GradientType=0);
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    background-color:#f2f2f2;
    border:1px solid #999;
}
.CBpuls > span{text-align:center;font-size:12px;font-weight:700;color:#000;}

.CBpuls > i{background:url(../img/rcsprite.png) -12px 0px no-repeat;margin-top:5px;margin-right:10px;width:12px;height:12px;float:left;}
.CBpuls:hover > i{background:url(../img/rcsprite.png) -12px -12px no-repeat;}
.CBpulsSel > i{background:url(../img/rcsprite.png) -12px -24px no-repeat !important;}
.CBcolorDefault{background-color:#f2f2f2;border:1px solid #999;}
.CBcolorDefault.CBpulsSel{background:#999;}
.CBcolorDefault.CBpulsSel > span{color:#fff;}



.CBcolorRed{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff1500), color-stop(1, #bf0a01));
    background:-moz-linear-gradient(top, #ff1500 5%, #bf0a01 100%);
    background:-webkit-linear-gradient(top, #ff1500 5%, #bf0a01 100%);
    background:-o-linear-gradient(top, #ff1500 5%, #bf0a01 100%);
    background:-ms-linear-gradient(top, #ff1500 5%, #bf0a01 100%);
    background:linear-gradient(to bottom, #ff1500 5%, #bf0a01 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1500', endColorstr='#bf0a01',GradientType=0);
    border:1px solid #bf0a01;
    color:#fff;
}
.CBcolorRed.CBpulsSel{background:#ff1500;}
.CBcolorRed > span{color:#fff;}

.CBcolorGreen{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2ECC71), color-stop(1, #20864b));
    background:-moz-linear-gradient(top, #2ECC71 5%, #20864b 100%);
    background:-webkit-linear-gradient(top, #2ECC71 5%, #20864b 100%);
    background:-o-linear-gradient(top, #2ECC71 5%, #20864b 100%);
    background:-ms-linear-gradient(top, #2ECC71 5%, #20864b 100%);
    background:linear-gradient(to bottom, #2ECC71 5%, #20864b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ECC71', endColorstr='#20864b',GradientType=0);
    background-color:#27AE60;
    border:1px solid #20864b;
    color:#000;
}
.CBcolorGreen.CBpulsSel{background:#27AE60;}
.CBcolorGreen > span{color:#fff;}

.CBcolorYellow{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    border:1px solid #f59c00;
    color:#000;
}
.CBcolorYellow.CBpulsSel{background:#ffce46;}

.CBdisabled .CBpuls{
    color:#aaa;
    cursor:default;
    background:#eee;
}
.CBdisabled .CBpulsSel{
    color:#eee;
    border:1px solid #666;
    background:#ddd;
    cursor:default;
}
/**/