body{
	background:#b9e0ff;
	}

	fieldset{
		margin:10px;
		border:2px solid #fff;
		padding:5px;
		}
		fieldset #container{
			background:#fff;
			padding:5px;
			}
		fieldset legend{
			font-weight:bold;
			margin-bottom:10px;
			}
		
#container{
	background:#b9e0ff;
	overflow:hidden;
	}
.rigaMat{
	border:1px solid #729ecf;
	margin:3px;
	height:30px;
	}
	.rigaMat a{
		width:20%;
		text-align:center;
		color:#000;
		text-transform:uppercase;
		font-size:12px;
		font-weight:bold;
		display:block;
		float:left;
		}
		.h1 a{
			height:30px;
			line-height:30px;
			}
		.h2 a{
			height:60px;
			line-height:60px;
			}
		.h3 a{
			height:90px;
			line-height:90px;
			}
	span.chkMat{	
		width:19%;
		overflow:hidden;
		float:left;
		}
		span.chkMat input{
			height:30px;
			float:left;
			}
		span.chkMat label{
			height:30px;
			line-height:30px;
			cursor:pointer;
			}
			
	#mat-b1{background:#DEE0FA;}
	#mat-b2{background:#F4EBDF;}
	#mat-b3{background:#D5FFEA;}
	#mat-b4{background:#FFF0D9;}
	#mat-b5{background:#F7E4FA;}
	#mat-b6{background:#E1E1E1;}