.ramoChiuso{
	font-size:12px;
	background-color:#DAF5FE;
	border: 1px solid #6AA8F2;
}

.ramoAperto{
	font-size:12px;
	background-color:#FFFF00;
	border: 1px solid #6AA8F2;
}

.risoltoN{
	background:url(../../../../imagexPix/schedaAnag/nospuntaradio.gif) no-repeat center;
	cursor:pointer;
}

.risoltoS{
	background:url(../../../../imagexPix/schedaAnag/spuntaradio2.gif) no-repeat center;
	cursor:pointer;
}

.deleted{
	background:url(../../../../imagexPix/contextMenu/ico_canc.gif) no-repeat center;
}

tr.light{
	background-color:yellow;
}

a.disabled{
	color:#CCC;
	text-decoration:none;
}