body {
    width: 960px;
    margin: auto;
}

.RBpuls {
    margin-bottom: 5px;
}

#fldConsensoMMG, 
#fldlblConsensoMMGFuturo, 
#fldlblConsensoMMGPassato {
	border: none;
}

#divConsensoMMG {
	text-align: center;
    font-weight: 700;
}

#lbldivConsensoMMG {
	font-size: 25px;
}

#fldradConsensoMMGFuturo, #fldradConsensoMMGPassato {
	border: none;
	width: 300px;
  	margin: auto;
	text-align: center;
}

label[id^="lblInformativa"], table.campi tr td.tdLbl[id^="lblSezione"] {
    width: auto !important;
    height: auto !important;
    padding: 5px 10px;
    margin-top: 15px;
    line-height: 150%;
    display: block;
    text-align: left;
    color: #444;
    border: 1px solid black;
}

label[id^="lblInformativa"] {
    font-size: 12px;
    font-weight: 700;
}

table.campi tr td.tdLbl[id^="lblConsenso"] {
    font-weight: 400;
    padding-left: 35px;
    text-align: left;
}

td.tdData input {
    margin-left: 10px;
}

#txtSottoscrittoDataNascita, #txtGaranteDataNascita, #txtSostitutoDataNascita {
    margin-left: 0;
}

#fldDichiarazione table.campi tr td.tdLbl{
	width: 45%;
	text-align: left;
}

#fldDichiarazione table.campi tr td.tdACList {
	width: 45%;
	text-align: left;
}

#fldDichiarazione table.campi tr {
	height: 25px;
	/* oppure $('#txtOperatoreDichiarazione').parent().height(25) */
}

#lblTipoDichiarante {
	text-align: left;
	width: auto;
}