/* style dei link dei tab NON selezionati */

#div_idTabInfoRefertoInWorklist{
 float:left;
 width:500px;
}

#div_idTabInfoReferto{
 float:left;
 width:400px;
}

#div_idTabPrecedenti{
 float:left;
 width:280px;
}

.classTabMiddle A{

	color: white;
}

.classTabMiddle A:hover {
	color:black;
	text-decoration:none;
}

table.classTabulator {
text-align: left;
width: 100%;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px; 
border: 0;
height:25px;
}
/* info per tabulatore selezionato */
table.classTabulator td.classTabSxSelected {
	background-image:url(../../../../imagexPix/tabulator/tabSx_selelected_mim.gif);
	background-repeat:no-repeat;
	width:10px;
}

table.classTabulator td.classTabMiddleSelected {
	background-image:url(../../../../imagexPix/tabulator/top_tabella_selelected_mim.gif);
	background-repeat:repeat-x;
	text-align: center;
	font-size:12px;
	color:white;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
table.classTabulator td.classTabMiddleSelected A{
	TEXT-DECORATION: none;
	color: white;
}

table.classTabulator td.classTabMiddleSelected A:hover {
	text-decoration:none;
}

table.classTabulator td.classTabDxSelected {
	background-image:url(../../../../imagexPix/tabulator/tabDx_selelected_mim.gif);
	background-repeat:no-repeat;
	width:10px;
}

div.tabulatorError{
	display:block;
	background-color:#736ABB;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:white;
}


/* ************** */
/* info per tabulatore NON selezionato */
table.classTabulator td.classTabSx {
	background-image:url(../../../../imagexPix/tabulator/tabSx_mim.gif);
	background-repeat:no-repeat;
	width:10px;
}

table.classTabulator td.classTabMiddle {
	background-image:url(../../../../imagexPix/tabulator/top_tabella_mim.gif);
	background-repeat:repeat-x;
	text-align: center;
	font-size:12px;
	color:#FFFF00;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

table.classTabulator td.classTabDx {
background-image:url(../../../../imagexPix/tabulator/tabDx_mim.gif);
background-repeat:no-repeat;
width:10px;
}

/* ********** */

table.classTabulator td.classButtonHeader {
background-image:url(../../../../imagexPix/tabulator/top_tabella_mim.gif);
width:100px; 
}


