
.classDivMenu ul, .menu ul li {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.classDivMenu a {
  display: block;  
 /* padding: 0.3em; */
  line-height: 1.5em; 
/*  text-decoration: none; */ 
/*  border: solid 1px; */
/*  color: #fff; */
/*  background: #00f; */
  
  
  background:url(../../../../imagexPix/tabulator/top_tabella.gif) repeat-x;		
	COLOR: black;
	text-decoration:none;
/*	PADDING: 5px 5px;	*/
	BORDER:1px solid #E9FEFE;
  
  
}

.classDivMenu li.active a{
	background:url(../../../../imagexPix/tabulator/selectedTab.png) repeat-x;	
	COLOR: white;
}

.classDivMenu a:hover {
 BORDER:1px solid blue;
COLOR: black;
  background: url(../../../../imagexPix/tabulator/hoverTab.png) ;
} 
