html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {

	border: 0;
	font-size: 99%;
	font-family: Arial;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}




 body{
 /*background:#FFC;*/
 
 BACKGROUND-IMAGE: url(../../../imagexPix/wallpaper/pattern_sfondo.gif);
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
 } 
  
div#divMenu{
	width:100%; 
	height:45px;
	text-align:center;
	background:#06F;
}		
		
div#divOption{
	width:65%;
	height:30px;
	text-align:left;
	background:#06F;
	float:left;
}	
	
.divOptionAgg{
	width:150px;
	height:30px;
	float:left;
}	

	
.pulsWkRich{
	width:50px;
	height:30px;
	float:right;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image:url(../../../imagexPix/GestioneRichieste/icoWkRich.png);
	background-repeat:no-repeat;
	text-align: center;
	line-height:18px;
	float:right;
	margin: 2px;
	CURSOR: hand;
}	




/*	MENU	*/
ul#nav{
	height:25px;
	line-height:25px;
	background:#47A547;
	text-align:right;
}

ul#nav li, a{
	color:#fff;
	font-size:14px;
	text-decoration:none;
}
ul#nav a:hover{	color:#00FF18;	}
ul#nav li{
	display:inline;
	margin:0 15px;
	}
	
ul#navExcel{	
	height:30px;
	line-height:25px;
	background:#06F;
	border-style:solid;
	border-width:0.5px;
	border-color:#06F;
	text-align:left;
}
ul#navExcel li, a{
	color:#fff; 
	font-size:14px;
	text-decoration:none;	
}

ul#nav a:hover{color:#00FF18;}
ul#navExcel li{display:inline;margin:0 15px;}

ul#navMenuLab{
	height:30px;
	line-height:25px;
	background:#06F;
	text-align:left;
	border-style:solid;
	border-width:0.5px;
	border-color:#06F;
}

ul#navMenuLab li, a{
	color:#fff; 
	font-size:14px;
	text-decoration:none;
}
ul#nav a:hover{	color:#00FF18;	}
ul#navMenuLab li{
	display:inline;
	margin:0 15px;
}




pulsanteLabWhaleAgg A:hover {
	/* background:url(../../../imagexPix/bar/btCyan.jpg) repeat-x; */
	color: yellow;
	font-weight:bold;
}

.even{background-color:#ffffff}
.over{background-color:#FBFDA2}
.click{background-color:#FFFF00}
.even2{background: #eee;background-color:#6FF}

tr.tr_hover{background:#FBFDA2}

.imageAcr {
	CURSOR: hand; COLOR: black; TEXT-DECORATION: underline; width:21px;height:21px;
	background: url(file:/imagexPix/Visualizzatore/Acrobat.png) no-repeat;
	display:block; 
}

.imageLab {
	CURSOR: hand; COLOR: black; TEXT-DECORATION: underline; width:23px;height:23px;
	background: url(file:/imagexPix/Visualizzatore/Tabella.png) no-repeat;
	display:block; 
}

.imageGraf {
	CURSOR: hand; COLOR: black; TEXT-DECORATION: underline; width:23px;height:22px;
/*	background: url(../../../imagexPix/button/mostra_grafico.gif) no-repeat; */
	background: url(../../../imagexPix/Visualizzatore/mostra_grafico.gif) no-repeat;
	display:block; 
}

.rigaGruppo {
	/*background: #008040;*/
	background: #04F;
	color:#fff; 
	font-size:14px;
}

.tdGruppo {
	width:300px;
	text-align:left;
	color:white;
}

.tdInt{color:white;background:#358DF9;}
.tdIntAltriRep{color:white;background:#358DF9;}

.triangoloNote{border-top: 11px solid red;border-left: 11px solid #358DF9;}

table {border-collapse: collapse;}

table td {
	border:1px solid #CCC;
	font-size:12px;
	padding:2px 2px;
    width:100px;	
	color:black;
	text-align:center;
}

table th {
    border:1px solid #CCC; 
	background:#358DF9;color:#fff;
	font-size:13.5px;
	font-weight:bold;
	padding:2px 2px;
	text-align:center; 	
}

/*body {line-height: 1.2;}*/


div#divMain{
	/*width:1300px;*/	
	overflow-x:hidden;
	overflow-y:hidden; 
}		

div#divBloc{
	width:390px;
	margin:0,0,0,0;
	border: solid 1px #CCC;
	height:27px; 
	line-height:20px;
	color:#fff;
	background: #358DF9;
	float:left;
}		
	
div#divInt{
	/*width:45%;*/
	margin:0,0,0,0;
	border: solid 1px #CCC;
/*	height:30px; 
	line-height:25px; */
	color:#fff;
/*	padding-left:10px; */
	background: #69BDFC;
	float:left;
	 overflow-x:hidden;
	overflow-y:hidden;
	position:relative;
	}		
	
div#divLeft{
	width:390px;
	margin:0,0,0,0;
	border: solid 1px #CCC;
	line-height:18px;
	color:#fff;
	background: white; 
	float:left;
	overflow-x:hidden;
	overflow-y:hidden; 
}		

	
table#tabellaBloc{
	border: solid 1px #358DF9;
	margin:0,0,0,0;
}		
	
table#tabellaInt{
   border: solid 1px #A0A0A4;
}		

table#tabellaInt{margin:0,0,0,0;}		
	
table#datiTable{
	border: solid 1px #A0A0A4;
	margin:0,0,0,0;
	overflow-x:scroll;
	overflow-y:scroll; 	
}		

div#divNull{
	line-height:25px;
	margin:0,0,0,0;
	color:black;
	background: #F90;
	text-align:center;
}	

/* Dati Strutturati - datepicker */
.datepick-trigger{cursor:pointer;}

/* Dati Strutturati - Menu */
.buttonExport{
	width:35px;height:35px;
	cursor:pointer;line-height:50px;margin:4px;
}

#divAddRisultato{float:right;}
#refreshPage{background-image:url(../../../imagexPix/Visualizzatore/ico_refresh.png);float:left;}
#expExcel{background-image:url(../../../imagexPix/Visualizzatore/ico_excel.png);float:right;}
#expPdf{background-image:url(../../../imagexPix/Visualizzatore/ico_pdf.png);float:right;}

.wrapSezioneMenu{float:left;height:35px;line-height:35px;margin:4px;border:1px solid white;padding-left:4px;padding-right:4px;}
.wrapSezioneMenu SELECT{
	/*border-right:none;
	border-left:none; 
	padding-left:2px;
	padding-right:2px;
	margin-top:4px;
	margin-left:3px;*/
	border:none; 
}

.lblMenuDatiLaboratorio{
	font-size:11px;font-weight:bold;
	line-height:35px;
	color:#fff;margin-left:4px;
	padding-left:2px;padding-right:2px;
}

#lblSceltaProvenienza{cursor:pointer;}
#lblElencoProvenienza{font-size:11px;color:#ffc000;font-weight:bold;}

#lblSceltaEsamiProfili{cursor:pointer;}
.esamiSelezionatiTrue{font-size:11px;color:#ffc000;font-weight:bold;}

.inpFiltroData{
	height:15px;width:65px;
	font-size:12px;
	margin-left:5px;margin-right:5px;
}

/* Dati Strutturati - Corpo */
#iframeGriglia{width:100%;height:100%;overflow:hidden;}

	
div#divDati{
	line-height:18px;
	border: solid 1px #CCC;
	background:white;
	margin:0,0,0,0;
	color:#fff;
    overflow-x:hidden;
	overflow-y:hidden;   
	float:left;	
}

/* Dati Strutturati - Colonne Intestazione */
.colIntestazione{vertical-align:middle;}

#divAddRisultato{
	cursor:pointer;
	width:35px;height:35px;
	background-image:url('../../../imagexPix/Visualizzatore/ico_add_risultato_labo.png')}

.colGrafInt{width:30px;}

.colEsameInt{width:210px;background:#358DG9;}

.colUnMisInt{width:50px;}

.colValMinInt{width:50px;}

.colValMaxInt{width:50x;}

.colDati{
	background:white;
	padding:2px;
}

/* Dati Strutturati - Colonne Popolate*/
.colGraf{background:white;width:30px;}

.colEsame{background:white;
	width:250px; /*per savona*/ 
	/*width:210px;*/
}

.colValMin{background:white;width:50px;}
.colValMax{background:white;width:50px;}

.colUnMis{background:white;width:50px;}

.classTitle{text-decoration:underline;}
.link{text-decoration:underline;cursor:hand;}

.datiMicrobiologia{
	background:#F2FA9D;
	COLOR:red; 
	FONT-WEIGHT:BOLD;
	cursor:hand;
}

/* Intestazione */
div.header{width:100%;height:25px;display:block;background:url(../../../imagexPix/bar/MenuImgV.png) repeat-x;}

div.header div.btn{float:right;display:block;width:25px;height:25px;cursor:hand;}

div.header div.btn:hover{background-color:#FF0;}

div.chiudi{background:url(../../../imagexPix/button/cross.png);}

div.intestazione{color:#fff;height:25px;line-height:25px;position:absolute;width:80%;top:3px;left:10%;text-align:center;font: bold 14px Verdana;}

#iframeGriglia{
	width:100%;
}


