body {
    width: 960px;
    margin: auto;
}

#fldVersioniInner { border: none; }

.active {
	background: url(../../../../img/active.png) no-repeat !important;
}

.deactivate {
	background: url(../../../../img/deactivate.png) no-repeat !important;
}

#VERSIONI_CONSENSO_UNICO .contentTabs { /* overflow-y: scroll;*/ }