<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="context" class="it.elco.ldap.ElcoLDAPContext" primary="true"/>

    <bean id="ldap" class="it.elco.ldap.ElcoLDAP" scope="prototype">
        <property name="suffixUser" value="@elco.local"/>
        <property name="patternUsername" value="%s"/>
        <property name="enviroment">
            <map>
                <entry key="#{context.INITIAL_CONTEXT_FACTORY}" value="com.sun.jndi.ldap.LdapCtxFactory"/>
                <entry key="#{context.SECURITY_AUTHENTICATION}" value="simple"/>
                <entry key="#{context.PROVIDER_URL}" value="ldap://%s:389"/>
            </map>
        </property>
    </bean>
    <bean id="ldapSearchAd" class="it.elco.ldap.ElcoLDAP" scope="prototype">
        <property name="searchDomain" value="DC=elco,DC=local"/>
        <property name="searchObj" value="member,memberOf,cn,objectClass,employeeNumber,mailNickname,mail,displayName"/>
        <property name="searchType" value="sAMAccountName=[user]"/>
        <property name="enviromentSearchAD">
            <map>
                <entry key="#{context.INITIAL_CONTEXT_FACTORY}" value="com.sun.jndi.ldap.LdapCtxFactory"/>
                <entry key="#{context.SECURITY_AUTHENTICATION}" value="simple"/>
                <entry key="#{context.PROVIDER_URL}" value="ldap://elco.local:389"/>
                <entry key="#{context.SECURITY_PRINCIPAL}" value="fabio.capra@elco.local"/>
                <entry key="#{context.SECURITY_CREDENTIALS}" value="Elko2014b"/>
            </map>
        </property>
    </bean>
</beans>