@charset "utf-8";
/* CSS Document */

#lblSezione1, #lblSezione2 {
	text-transform: uppercase;
}

td.classTdLabel label, #lblAltroIntervento {
	white-space: nowrap;
}

td.classTdField {
	width: auto;
	padding: 5px;
}

td.classTdLabelLink {
	vertical-align: baseline;
	width: auto;
}

#txtComuneNascita, #txtComuneResidenza, #txtCittadinanza, #txtStatoCivile, #txtCondizioneProfessionale, #txtAltroIntervento {
	width: 100%;
}