<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<CONFIG>
    <VERSIONI>
        <ID_DB_CONNECT>RIS</ID_DB_CONNECT>
        <VERSIONE_DB>PR</VERSIONE_DB>
        <VERSIONE_DATA>PR</VERSIONE_DATA>
        <VERSIONE_STRUCTURE>PR</VERSIONE_STRUCTURE>
        <VERSIONE_ENGINE>1</VERSIONE_ENGINE>
    </VERSIONI>
</CONFIG>
