@charset "utf-8";
/* CSS Document */

label{
    cursor: pointer;
}

td.classTdField {
	width: auto;
	padding: 5px;
}

td.classTdLabelLink {
	vertical-align: baseline;
	width: auto;
}
