#lblOrienta {
	width:400px;
	}	
#lblOrientaSpaz {
	width:400px;
	}
#lblIndicaTesto {
	width:510px;
	}
#lblTest7 {
	width:700px;
	}
#lblRicordaTesto {
	width:480px;
	}	
#lblNominaTesto {
	width:800px;
	}
#lblRipeti {
	width:800px;
	}
#lblComandiVerbTesto {
	width:400px;
	}
#lblComandiScrTesto {
	width:800px;
	}
#lblScrittTesto {
	width:800px;
	}
#lblDisegnaTesto {
	width:800px;
	}	
#lblPunteggio {
	width:800px;
	}
/*#lblTotale {
	width:10px;
	}*/
#lblPunteggioNorm {
	width:800px;
	}