#lblConleyDom1{
width:400px;
}
#lblConleyDom2{
width:400px;
}
#lblConleyDom3{
width:400px;
}
#lblConleyDom4{
width:400px;
}
#lblConleyDom5{
width:400px;
}
#lblConleyDom6{
width:400px;
}
#lblConleyInt1{
width:400px;
}
#lblConleyInt2{
width:400px;
}
#lblLegenda{
width:1000px;
}