
table.classDataTable {
	table-layout:fixed;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #6AA8F2;
	background-color:#FFFFF0;
	border-collapse : collapse;
	width:100%;
	overflow:hidden;
}

table.classDataTable td{
	border: 1px solid #6AA8F2;
}

table.classDataTable th {
	background-color:#C2FAFE;
	border: 1px solid #6AA8F2;
}

div.classHeaderTabella {
	white-space:nowrap;
	font-size:12px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

div.classDatiTabella{
	white-space:nowrap;
}