.accetta-stampa,.accettazione,.analisi,.annulla-esecuzione,.anteprima,.appropriatezza,.apri-datawharehouse,.apri-scheda,.avanti,.avviso,.bidone,.blocca,.bloccaverde,.calendario,.cambia-utente,.centri-costo,.cerca,.cestino,.chiudi,.conclusioni,.controllo-qualita,.copia,.data,.deseleziona-tutti,.diario-medico,.diariomedico,.documentipaziente,.elencorichieste,.elencorichieste-disattivo,.elimina,.elimina-referto,.emergenza,.esci,.esci-logout,.esegui,.esiti,.firma,.firma-lista,.funzione,.gestione,.gestione-richiesta-modifica,.gestionept,.home,.incolla,.indietro,.informazioni,.inserisci-dati-esame,.inserisci-esame,.letteradimissioni,.letteradimissioni-disattivo,.lista,.masterizza-cd,.modifica,.nonurgenza,.nota,.percorso,.prenota,.prenotazione,.print,.referta,.referta-2,.referta-esame,.refertante,.refertazione-strutturata,.referto,.ricerca-remota,.richiedi-consulenza,.richiesta,.richiesta-modifiche,.ridimensiona,.rifiuta,.sblocca-referto,.seleziona-tutti,.somministrazione,.stampa,.taglia,.urgenza,.urgenzadifferita,.utente,.visualizza-esame-paziente,.visualizza-n-archivio,.worklist
{display: inline-block; background: url(../img/CMenu/cmenu_sprite.png) no-repeat;}

.referta {background-position: 0 0; width: 16px; height: 16px}
.avviso {background-position: -16px 0; width: 16px; height: 16px}
.bloccaverde {background-position: -32px 0; width: 16px; height: 16px}
.apri-scheda {background-position: -64px 0; width: 16px; height: 16px}
.richiesta-modifiche {background-position: -80px 0; width: 16px; height: 16px}
.letteradimissioni {background-position: -96px 0; width: 16px; height: 16px}
.esegui {background-position: -112px 0; width: 16px; height: 16px}
.firma-lista {background-position: -128px 0; width: 16px; height: 16px}
.refertante {background-position: 0 -16px; width: 16px; height: 16px}
.appropriatezza {background-position: -16px -16px; width: 16px; height: 16px}
.somministrazione {background-position: -32px -16px; width: 16px; height: 16px}
.urgenzadifferita {background-position: -48px -16px; width: 16px; height: 16px}
.emergenza {background-position: -64px -16px; width: 16px; height: 16px}
.lista {background-position: -80px -16px; width: 16px; height: 16px}
.prenotazione {background-position: -96px -16px; width: 16px; height: 16px}
.elimina {background-position: -112px -16px; width: 16px; height: 16px}
.data {background-position: -128px -16px; width: 16px; height: 16px}
.informazioni {background-position: 0 -32px; width: 16px; height: 16px}
.diario-medico {background-position: -16px -32px; width: 16px; height: 16px}
.chiudi {background-position: -32px -32px; width: 16px; height: 16px}
.referta-esame {background-position: -48px -32px; width: 16px; height: 16px}
.percorso {background-position: -64px -32px; width: 16px; height: 16px}
.richiesta {background-position: -80px -32px; width: 16px; height: 16px}
.deseleziona-tutti {background-position: -96px -32px; width: 16px; height: 16px}
.documentipaziente {background-position: -112px -32px; width: 16px; height: 16px}
.referto {background-position: -128px -32px; width: 16px; height: 16px}
.elencorichieste-disattivo {background-position: 0 -48px; width: 16px; height: 16px}
.calendario {background-position: -16px -48px; width: 16px; height: 16px}
.annulla-esecuzione {background-position: -32px -48px; width: 16px; height: 16px}
.apri-datawharehouse {background-position: -48px -48px; width: 16px; height: 16px}
.stampa {background-position: -64px -48px; width: 16px; height: 16px}
.gestione-richiesta-modifica {background-position: -80px -48px; width: 16px; height: 16px}
.analisi {background-position: -96px -48px; width: 16px; height: 16px}
.sblocca-referto {background-position: -112px -48px; width: 16px; height: 16px}
.inserisci-esame {background-position: -128px -48px; width: 16px; height: 16px}
.taglia {background-position: 0 -64px; width: 16px; height: 16px}
.esci {background-position: -16px -64px; width: 16px; height: 16px}
.conclusioni {background-position: -32px -64px; width: 16px; height: 16px}
.visualizza-n-archivio {background-position: -48px -64px; width: 16px; height: 16px}
.diariomedico {background-position: -64px -64px; width: 16px; height: 16px}
.home {background-position: -80px -64px; width: 16px; height: 16px}
.cerca {background-position: -96px -64px; width: 16px; height: 16px}
.funzione {background-position: -112px -64px; width: 16px; height: 16px}
.rifiuta {background-position: -128px -64px; width: 16px; height: 16px}
.utente {background-position: 0 -80px; width: 16px; height: 16px}
.esci-logout {background-position: -32px -80px; width: 16px; height: 16px}
.letteradimissioni-disattivo {background-position: -48px -80px; width: 16px; height: 16px}
.accettazione {background-position: -64px -80px; width: 16px; height: 16px}
.referta-2 {background-position: -80px -80px; width: 16px; height: 16px}
.nota {background-position: -96px -80px; width: 16px; height: 16px}
.anteprima {background-position: -112px -80px; width: 16px; height: 16px}
.cestino {background-position: -128px -80px; width: 16px; height: 16px}
.seleziona-tutti {background-position: 0 -96px; width: 16px; height: 16px}
.esiti {background-position: -16px -96px; width: 16px; height: 16px}
.modifica {background-position: -32px -96px; width: 16px; height: 16px}
.worklist {background-position: -48px -96px; width: 16px; height: 16px}
.urgenza {background-position: -64px -96px; width: 16px; height: 16px}
.gestione {background-position: -80px -96px; width: 16px; height: 16px}
.bidone {background-position: -96px -96px; width: 16px; height: 16px}
.controllo-qualita {background-position: -112px -96px; width: 16px; height: 16px}
.print {background-position: -128px -96px; width: 16px; height: 16px}
.elimina-referto {background-position: 0 -112px; width: 16px; height: 16px}
.elencorichieste {background-position: -16px -112px; width: 16px; height: 16px}
.avanti {background-position: -32px -112px; width: 16px; height: 16px}
.centri-costo {background-position: -48px -112px; width: 16px; height: 16px}
.masterizza-cd {background-position: -64px -112px; width: 16px; height: 16px}
.visualizza-esame-paziente {background-position: -80px -112px; width: 16px; height: 16px}
.firma {background-position: -96px -112px; width: 16px; height: 16px}
.refertazione-strutturata {background-position: -112px -112px; width: 16px; height: 16px}
.accetta-stampa {background-position: -128px -112px; width: 16px; height: 16px}
.nonurgenza {background-position: 0 -128px; width: 16px; height: 16px}
.blocca {background-position: -16px -128px; width: 16px; height: 16px}
.richiedi-consulenza {background-position: -32px -128px; width: 16px; height: 16px}
.ricerca-remota {background-position: -48px -128px; width: 16px; height: 16px}
.inserisci-dati-esame {background-position: -64px -128px; width: 16px; height: 16px}
.copia {background-position: -80px -128px; width: 16px; height: 16px}
.incolla {background-position: -96px -128px; width: 16px; height: 16px}
.gestionept {background-position: -112px -128px; width: 16px; height: 16px}
.indietro {background-position: -128px -128px; width: 16px; height: 16px}
.prenota {background-position: 0 -144px; width: 16px; height: 16px}
.cambia-utente {background-position: -16px -144px; width: 16px; height: 16px}
.ridimensiona {background-position: -32px -144px; width: 16px; height: 8px}
