.jqueryslidemenu a{z-index:1;}
.jqueryslidemenu img{display:block;visibility:visible;}
.jqueryslidemenu ul{list-style-type:none;}
.jqueryslidemenu ul.z49,.jqueryslidemenu ul.z49 li,.jqueryslidemenu ul.z49 li a,.jqueryslidemenu ul.z49 ul,.jqueryslidemenu ul.z49 ul li,.jqueryslidemenu ul.z49 ul li a{z-index:49;}
.jqueryslidemenu ul.z48,.jqueryslidemenu ul.z48 li,.jqueryslidemenu ul.z48 li a,.jqueryslidemenu ul.z48 ul,.jqueryslidemenu ul.z48 ul li,.jqueryslidemenu ul.z48 ul li a{z-index:48;}
.jqueryslidemenu ul.z97,.jqueryslidemenu ul.z47 li,.jqueryslidemenu ul.z47 li a,.jqueryslidemenu ul.z47 ul,.jqueryslidemenu ul.z47 ul li,.jqueryslidemenu ul.z47 ul li a{z-index:47;}
.jqueryslidemenu ul li{position:relative;display:inline;float:left;}
.jqueryslidemenu ul li a{
	display:block;
	color:#333;
	height:24px;
	line-height:24px;
	padding:0 10px;
	border-right:1px dotted #666;
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
}
/*.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{color:#333;}*/
.jqueryslidemenu ul li a:hover{/*background:url(../img/bars.png) 0 -392px repeat-x;color:#fff;*/}
.jqueryslidemenu ul li ul{position:absolute;left:0;display:block;visibility:hidden;}
.jqueryslidemenu ul li ul li{display:list-item;float:none;}
.jqueryslidemenu ul li ul li ul{top:0;}
.jqueryslidemenu ul li ul li a{width:200px;padding:0 5px;border:1px solid #4d4d4d;border-top:0;background:#ccc;}
.jqueryslidemenu ul li ul li a.small{width:150px;}
.jqueryslidemenu ul li ul li a.large{width:350px;}
.jqueryslidemenuz ul li ul li a:hover{background:url(../img/bars.png) 0 -392px repeat-x;color:#fff;}
.downarrowclass{position:absolute;top:10px;right:10px;}
.rightarrowclass{position:absolute;top:10px;right:10px;}
.liMenuActive > a{color:#fff !important;background:url(../img/bars.png) 0 -392px repeat-x !important;border-right:0;}
.topMenuActive > a{color:#fff !important;background:url(../img/bars.png) 0 -392px repeat-x !important;}