#wrapper{
    width: 1024px;
    height: 768px;
    margin: 10px auto;
    border: 1px solid #000;
}

#resume {
    width: 300px;
    height: auto;
    position: absolute;
    border: 1px solid #666;
    top: 40%;
    left: 40%;
    z-index: 500;
}

    #resume > div.resume-header {
        background: #686868;
        color: #fff;
        height: 26px;
        font-weight: bold;
        padding: 0 10px;
        line-height: 26px;
    }

        #resume > div.resume-header > i {
            float: right;
            clear: both;
            font-size: 16px;
        }

    #resume > ul {
        margin: 0;
        background: #fff;
        width: 100%;
        display :block;
        overflow: hidden;
        position: relative;
    }

        #resume > ul > li {
            padding: 3px 5px;
            color: #666;
            font-size: 11px;
            border-bottom: 1px dotted #ddd;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
        }

        #resume > ul > li:hover {
            background: #efefef;
        }

        #resume > ul > li.selected {
            background: #fdf692;
        }

            #resume > ul > li > i {
                font-size: 16px;
                color: #ccc;
                margin-right: 4px;
            }

            #resume > ul > li.selected > i {
               color: #666;
            }

            #resume > ul > li > span {
                font-size: 12px;
                color: #666;
            }

