.optNoUrg {
	background-color: #FFFFFF;
}

.optUrgDif {
	background-color: #00FF00;
}

.optUrg {
	background-color: #FFFF00;
}

.optEme {
	background-color: #FF0000;
}

.longtext {
	height: 100px;
	width: 500px;
}

.oneline {
	height: 2.5em;
	width: 500px;
	padding: 0.5em;
	overflow: hidden;
}

.disabled {
	background-color: #E9E9E9;
}