<!-- css per la tabella di dati, come ad esempio la worklist -->

div#idLayerTestata{
	margin:0 0 0 0;
	height:42px;
	display:block;
	top:0;
	left:0;
	position:absolute;
	
}

div#idLayerWorklist{
	margin-top:42px;
	display:block;
}




div#idLayerWorklist table.classDataTable {
	table-layout:fixed;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #6AA8F2;
	background-color:#FFFFF0;
	border-collapse : collapse;
	width:100%;
	overflow:hidden;
}

div#idLayerWorklist table.classDataTable td{
	border: 1px solid #6AA8F2;
}


div#idLayerWorklist table.classDataTable th {
	background-color:#C2FAFE;
	border: 1px solid #6AA8F2;
}


div#idLayerTestata table.classDataTable {
	table-layout:fixed;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #6AA8F2;
	background-color:#FFFFF0;
	border-collapse : collapse;
	width:100%;
	overflow:hidden;
}

div#idLayerTestata table.classDataTable td{
	border: 1px solid #6AA8F2;
}

div#idLayerTestata table.classDataTable th {
	background-color:#C2FAFE;
	border: 1px solid #6AA8F2;
}




div.classHeaderTabella {
	white-space:nowrap;
	font-size:12px;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	float:left;
	overflow:hidden;
}

div#idLayerWorklist div.classDatiTabella{
	white-space:nowrap;
	padding-left:5px;
	width:inherit;
}



div.classDatiTabellaRossi{
	white-space:nowrap;
	color:red;
}


div.classContainerHeader{
	width:100%;
	table-layout:fixed;	
}

div.classResizeColumn{
	background-color:#00FFFF;
	width:3px;
	height:10px;
	float:right;
	display:inline;	
}


.classNormalRow{
	height:25px;
}

<!-- ****** -->