.stepcarousel{
	position: relative; /*leave this value alone*/
	overflow: scroll; /*leave this value alone*/
	width: 250px; /*Width of Carousel Viewer itself*/
	height: 50px; /*Height should enough to fit largest content's height*/
	padding-left:10px;
	padding-right:10px;
}

.stepcarousel .beltCarousel{
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
}

.stepcarousel .panelCarousel{
	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	width: 45px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	padding-left:3px;
	padding-right:3px;	
}