/* css per la tabella di dati, come ad esempio la worklist */

div#idLayerTestata{
	margin:0;
	height:38px;
	display:block;
	top:0;
	left:0;
	position:absolute;
}

div#idLayerWorklist{
	margin-top:52px;
	display:block;
}

tr.oddRow{background:#fff;}
tr.evenRow{background:#e6e6e6;}
tr.col_over{background:#fff9c7;}
tr.col_over{background:#fff0a9;}
tr.desel{background:#FFFFF0;}
tr.sel{background:#ffea00;}



div#idLayerWorklist table.classDataTable {
	table-layout:fixed;
	font-size: 13px;
	border: 1px solid #999;
	background:#fff;
	border-collapse : collapse;
	width:100%;
	overflow:hidden;
}

div#idLayerWorklist table.classDataTable td{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}


div#idLayerTestata table.classDataTable {
	table-layout:fixed;
	font-size: 12px;
	border: 1px solid #999;
	background:#fff;
	border-collapse : collapse;
	width:100%;
	overflow:hidden;
}


div#idLayerWorklist table.classDataTable th {
	background:#9c9e9f;
	border: 1px solid #999;
	height:25px;
	line-height:25px;
}

div#idLayerTestata table.classDataTable td{
	border: 1px solid #999;
}

div#idLayerTestata table.classDataTable th {
	background:#9c9e9f;
	/*
	border: 1px solid #999;
	color:#fff;
	height:25px;
	line-height:25px;*/
}

.classNormalRow{
	height:30px;
}

div.classHeaderTabella {
	white-space:nowrap;
	font-size:12px;
	color: #fff;
	height:10px;
	padding-bottom:5px;
}
	div.classHeaderTabella a{
		color:#ffea00;
		}

div#idLayerWorklist div.classDatiTabella{
	white-space:nowrap;
	font-size:12px;
	padding-left:3px;
}

div.classDatiTabellaRossi{
	white-space:nowrap;
	color:red;
}