/*CALENDARIO*/
.CAL {
	WIDTH : 100%;
	HEIGHT : 100%;
	BORDER : 3px SOLID SILVER;
	font-weight: normal;
	color:  #FFFFCC;
}

/*intestazione dei giorni DO..SA*/
.CALGIORNIHEADFONT {
	color: #3333CC;
}

.CALGIORNIFESTIVI {
	BACKGROUND-COLOR : #C2FAFE;
	BORDER : 1px SOLID BLACK;
}

.CALGIORNIFERIALI {
	BACKGROUND-COLOR : #FFFFF0;
	BORDER : 1px SOLID BLACK;
}

.CALCELLA {BORDER : 1px SOLID BLACK;}

/*Sezione ID*/
#MainCalendar {POSITION : ABSOLUTE; WIDTH:250; HEIGHT:220;}
#Calendario {WIDTH:250; HEIGHT:220;}
/*Background della parte di intestazione con il mese e le frecce*/
#CALHEAD {BORDER-WIDTH : 0pt; color:#0033CC; BACKGROUND:#00CCFF; border-color:#00CCFF}
#CALGEST {BORDER-WIDTH : 0pt; color:#0033CC;}




/*FILTRI*/
form.FILFRMDATI {
	WIDTH : 100%; 
	margin: 0; 
	padding: 0 4px 0 0; 
	border: 0; 
	}
	#idWorklistTopFrame{
		z-index:999;
		}
	
.FIL {WIDTH : 100%; 
	border-left:1px solid #999;
	}


.FILTAB {WIDTH : 100%;}
.FILTD {border: 0; background:#f6f6f6; /*height:20px;*/}
.FILSELECT {WIDTH : 100%;}
.FILIMGDATA {
	width:21px;
	height:16px;
	background : url(../../../imagexPix/calendario/calendariobw.gif) no-repeat;
}
.FILIMGDATAUP {
	width:21px;
	height:16px;
	background: url(../../../imagexPix/calendario/calendariobw.gif) no-repeat;
	cursor : pointer;
}

/*GRUPPI*/
.groupTable {
	width:97%;
	height:250pt;
	border:2px solid #83E2BC;
}
.groupTd {
	width:40%;
	text-align:center;
}
.groupTdCenter {
	width:20%;
	text-align:center;
}
.groupLabelDescr {
	font-weight:bold;
}
.groupSelect {
	font-size:8pt;
	width:150px;
}

.ListBox{font-size: 9pt; font-family:Courier; vertical-align: middle}

td.classTabHeaderMiddleSF {
	background:url(../../../imagexPix/tabheader/top_tabella_2010.png) repeat-x;
	text-align: center;
	font-size:12px;
	color:#000;
	font-weight: bold;
	padding-top:1px;
}

/*FILTRI*/
#FILMAINTAB {WIDTH : 100%; BORDER-WIDTH : 1pt; PADDING : 0pt;}

#txtDaData, #txtAData{
	margin:0;
	padding:0;
	height:20px;
	/*float:left;*/
	}