body { background:#b9e0ff; /*padding-right:'10px'; overflow: visible;*/}

fieldset{
	
	border:4px solid #FFF;
	padding:15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	}
	fieldset legend{
		font-weight:bold;
		margin-bottom:10px;
		}
	fieldset label{
		font-size:12px;
		cursor:pointer;
		}

.dataOra {

	width: 80px;

}

.note {

	width: 700px;

}

#groupIns{
	overflow:scroll;
}

#txtNote {

	width: 700px;

}

.spazio{

	line-height: 15px;
	background: #b9e0ff;
	margin-bottom:5px;
}

.bordo{
	border-bottom: 2px solid blue;
}