.pulsante {
	width:105px;
	height:21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image:url(../../../imagexPix/bar/btLightCyan_mim.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	float:right;

}

.pulsante A{
	height:21px;
	TEXT-DECORATION: none;
	color: black;
	display:block;
}

.pulsante A:hover {
	background-image:url(../../../imagexPix/bar/btCyan_mim.jpg);
	background-repeat:repeat-x;
	color: white;
	font-weight:bold;
}

.pulsanteleft {
	width:105px;
	height:21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image:url(../../../imagexPix/bar/btLightCyan_mim.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	float:left;

}

.pulsanteleft A{
	height:21px;
	TEXT-DECORATION: none;
	color: black;
	display:block;
}

.pulsanteleft A:hover {
	background-image:url(../../../imagexPix/bar/btCyan_mim.jpg);
	background-repeat:repeat-x;
	color: white;
	font-weight:bold;	
}

.pulsanteDis {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #CCCCCC;
	background-repeat: repeat-x;
	text-decoration: none;
	letter-spacing: normal;
	text-align: center;
	word-spacing: normal;
	white-space: normal;
	display: block;
}

.pulsanteUrgenza0{
	width:95%;
	height:21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image:url(../../../imagexPix/bar/btWhite.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	margin:2px 0 2px 0;
	float:right;
}

.pulsanteUrgenza1{
	width:95%;
	height:21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image:url(../../../imagexPix/bar/btGreen.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	margin:2px 0 2px 0;
	float:right;
}

.pulsanteUrgenza2{
	width:95%;
	height:21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image:url(../../../imagexPix/bar/btYellow.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	margin:2px 0 2px 0;
	float:right;
}

.pulsanteUrgenza3{
	width:95%;
	height:21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image:url(../../../imagexPix/bar/btRed.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	margin:2px 0 2px 0;
	float:right;
}

.pulsanteleft_sel {
	width:105px;
	height:21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-image:url(../../../imagexPix/bar/btLightGreen.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	float:left;
}

.pulsanteleft_sel A{
	height:21px;
	TEXT-DECORATION: none;
	color: black
;
	display:block;
}

.pulsanteleft_sel A:hover {
	background-image:url(../../../imagexPix/bar/btGreen.jpg);
	background-repeat:repeat-x;
	color: black;
}
