.pulsante {
	width:105px;
	height:21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-image:url(../../../../imagexPix/bar/btLightCyan.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	float:right;

}

.pulsante A{
	height:21px;
	TEXT-DECORATION: none;
	color: blue;
	display:block;
}

.pulsante A:hover {
	background-image:url(../../../../imagexPix/bar/btCyan.jpg);
	background-repeat:repeat-x;
	color: yellow;
}

.pulsanteDis {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #CCCCCC;
	background-repeat: repeat-x;
	text-decoration: none;
	letter-spacing: normal;
	text-align: center;
	word-spacing: normal;
	white-space: normal;
	display: block;
}


.pulsanteSelettore {
	width:20px;
	height:20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-image:url(../../../../imagexPix/bar/btBlu.jpg);
	background-repeat:repeat-x;
	text-align: center;
	line-height:18px;
	margin:2px 0 2px 0;
	float:right
}

.pulsanteSelettore A{
	height:20px;
	TEXT-DECORATION: none;
	color: yellow;
	display:block;
}

.pulsanteSelettore A:hover {
	background-image:url(../../../../imagexPix/bar/btYellow.jpg);
	background-repeat:repeat-x;
	color: blue;
}

.pulsanteInline{
	height:25px;
	visibility:visible;
	cursor:pointer;
	width:100%;	
}



.pulsanteInline A{
	width:100%;
	TEXT-DECORATION: none;
	color: blue;
	line-height:25px;
	float:left;
	background-image:url(../../../../imagexPix/bar/btLightCyan.jpg);
	background-repeat:repeat-x;
	display:block;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}

.pulsanteInline A:hover {
	width:100%;	
	background-image:url(../../../../imagexPix/bar/btCyan.jpg);
	background-repeat:repeat-x;
	color: yellow;
	font-weight:bold;
	font-size:14px;
	text-align:center;	
}