
#idParam{
float:left;		
width:49%;
}

#idScale{
float:left;	
width:49%;
}


#idAllerte{
float:left;	
width:50%;
}


/*
#diarioInf{
position:absolute;
left:0px;
top:20px;
width:700px;
height:200px;
}


#DiarioInf .divTable{
	display: block;
	height:180px;
overflow-y:scroll;
}



#idDiarioM{
position:absolute;
left:0px;
top:220px;
width:700px;
height:200px;
}
#idDiarioM .divTable{
	display: block;
	height:180px;
overflow-y:scroll;
}




#idParam{
position:absolute;
left:700px;
top:20px;
height:200px;

}

#worklist{
position:absolute;
left:0px;
top:420px;
}*/