div#divMain{
	overflow-y:scroll;
	overflow-x:hidden;
	width:70%;
	float:left;
}
div#divFarmaci{
	overflow-y:scroll;
	overflow-x:hidden;
	width:29%;
	float:left;
}
li{
	cursor:hand;
}
.frameParamFarmaco{
	width:100%;
	height:100px;
	display:none;
}
.frameFarmaci{
	width:100%;
	display:none;
}

.objTrascinato{background:#FB7589;filter:alpha(opacity=30);font-size:12px;text-align:center;cursor:pointer;}