@charset "utf-8";
/* CSS Document */

#titPopup{

	background:#1d63b4;
	display:block;
	width:100%;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	padding-left:5px;
	border-top:5px solid #1d63b4;
	text-align:center;

}

#footPopup{

	display:block;
	height:10px;
	line-height:19px;
	color:#fff;
	font-weight:bold;
	padding-left:5px;
	border-bottom:5px solid #1d63b4;

}


DIV.popupEsami {

	background:#b9e0ff;
	z-index:7;
/*	border: 3px #000033;*/
	position:absolute;
	text-align:center;
	top:100px;
	left:200px;
	width:350px;
	height:180px;
	border-left:2px solid #1d63b4;
	border-right:2px solid #1d63b4;

}

.hide{

	display:none;
	
}

div#overlay
{
	z-index:98;
	/*background: url(../../../imagexPix/Layout/overlay.png) ! important;*/
	width:100%;
	height:100%;
	position:absolute;top:0;left:0;
}

div.bt{

	width:30px;height:30px;cursor:pointer;float:left;
	
}

div.infoWk
{
	float:left;
	background: url(../../../../../imagexPix/GestioneRichieste/btinfo.gif) no-repeat ;
	width:30px;
	height:30px;
	cursor:pointer;
}


/*TABLE#oTable DIV.apriCartella A {
	height: 30px;
	width: 30px;
	background-position: top left;
	background: url(../../../../../imagexPix/button/Patient.png) no-repeat ;
}*/

div.apriCartella
{
	float:left;	
	background: url(../../../../../imagexPix/button/Patient.png) no-repeat ;
	width:30px;
	height:30px;
	cursor:pointer;
}


div.stampaCons
{
	float:left;	
	background: url(../../../../../imagexPix/contextMenu/stampa_referto.gif) no-repeat ;
	width:30px;
	height:30px;
	cursor:pointer;
}


.infoInLineSubTitle{
	display:block;
	clear:both;
	background-color:#03F;	
	color:white;
	font-weight:bold;
	font-size:16px;
	text-align:center;	
	padding:5px;
}

.textDettaglio {

	font-size:12px;
	text-align:center;
	line-height:12px;	

}

.boxInfoLayerShadow{

	width:400px;height:250px;
	font-size:12px;
	z-index:0;
}

.TitoloSez{
	
	BORDER-BOTTOM: #3399ff 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #3399ff 1px solid;
	LINE-HEIGHT: 10px;
	BACKGROUND-COLOR: #3399ff;
	WIDTH: 100%;
	BORDER-COLLAPSE: collapse;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #ffffff;
	FONT-SIZE: 12px;
	font-weight: bold;

}


