#lblTrattDati,#lblCostituzione,#lblInserimento{width:300px;}
#lblComunicDati{width:400px;}
#lblRicoDati{width:400px;}
#lblDichiara{width:900px;text-align:center;}
#lblDichiaraOpzioni{width:900px;text-align:center;}

