body#page{
	width: 960px;
}

#listGruppi,#listCross{
	
	height:140px;
}

#butRegistra, 
#butRimuovi, 
#butAggiungi, 
#butElimina,
#butAggiungiAccertamento,
#butRimuoviAccertamento,
#butChiudiDettaglio,
#butDuplica,
#butModificaNome{
	
	float:right;
}

#butElimina, #butChiudiDettaglio { margin-right: 5%; }


#fldDettaglio {display:none;}